/* This is a stylesheet for index.html */

h1 {
	background-color: #80dfff;
	font-family: Trebuchet MS;
}

body {
	background-color: #80dfff;
	font-family: Trebuchet MS;
}

.links {
	margin: auto;
	text-align: center;
	width: 60%;
	border-style: ridge;
	border-width: 5px;
	border-color: green;
}
